.Añadidor{
    width: 100%;
    margin: auto;
    height: 500px;
    padding: 10px;
}
.Añadidor > h3 {
    font-size: 1.2em;
    color: rgb(255, 145, 0);
    margin: 15px;
}
.Añadidor > h2 {
    font-size: 2.2em;
    font-weight: bold;
    margin: 15px;
}
.Añadidor p {
    font-size: 1.2em;
    color: #888888;
    margin: 15px;
}
.Añadidor_valores {
    font-size: 1.2em;
    display: flex;
    margin: 30px 15px;
    padding: 0xp 10px;
    align-items: center;
}
.Añadidor_valores > h2 {
    font-size: 1.2em;
    padding: auto 20px;
    display: inline;
}
.Añadidor_valores_descuento{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: auto 20px;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    color: rgb(255, 145, 0);
    background-color: rgb(255, 181, 83);
}
.Añadidor_valores_original{
    margin-left: 100px;
}
.Añadidor_aumentador{
    background-color: #dddddd;
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin: auto;
    height: 50px;
    border-radius: 10px;
}
.Añadidor_aumentador > p{
    color: #000000;
    font-weight: bolder;
    font-size: 1.2em;
}
.boton2{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.boton2:hover{
    cursor:pointer;
    background-color: #888888;
}
#bsumar{
    position: relative;
    right: 0px;
}
#brestar{
    position: relative;
}
.Añadidor_carrito{
    background-color: rgb(255, 145, 0);
    color: #6d6d6d;
    display: flex;
    width: 350px;
    margin: 10px auto;
    height: 50px;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.Añadidor_carrito > span {
    margin: 0px 10px;
}
.Añadidor_carrito:hover{
    cursor: pointer;
    background-color: rgb(255, 181, 83);
}
@media (min-width: 850px) and (max-width: 2000px){
    .Añadidor{
        display: block;
        width: 400px;
        height: 450px;
    }
    .Añadidor_aumentador{
        width: 150px;
        display: inline-flex;
        margin: 2px;
    }
    .Añadidor_carrito{
        display: inline-flex;
        width: 180px;
        transform: translateY(4px);
        color: white;
        margin-left: 20px;
    }
}
@media (max-width: 850px) and (min-width: 520px){
    .Añadidor{
        width: 480px;
    }
  }