*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.Contenedor_muestras{
  display: block;
  position: relative;
  width: 100%;
  min-height: 80vh;
  padding-top: 60px;
}
@media (min-width: 850px)  {
  .Contenedor_muestras{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
}
@media (max-width: 850px) and (min-width: 600px){
  .Contenedor_muestras{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}